# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native
.build/
.kotlin/
/android/
/ios/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# EAS
eas-build-*.tar.gz

# Metro
.metro-health-check*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# OS/editor
.DS_Store
.idea/

# Local env files
.env
.env*.local

# Secrets
*.pem

# TypeScript
*.tsbuildinfo
